<% if current_user.try(:beeradmin?) && current_user.try(:admin?) %>

	<h1>Beers</h1>

	<table class="table">
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Beertype</th>
	      <th>Brewery</th>
	      <th>Colour</th>
	      <th>Food</th>
	      <th>Occassion</th>
	      <th>Rating</th>
	      <th>Actions</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @beers.each do |beer| %>
	      <tr>
	        <td><%= beer.title %></td>
	        <td><%= beer.beerType %></td>
	        <td><%= beer.brewery %></td>
	        <td><%= beer.colour.colour %></td>
	        <td><%= beer.food.food %></td>
	        <td><%= beer.occassion.occassion %></td>
	        <td><%= beer.rating %></td>
	        <td><%= link_to 'Show', beer %><%= link_to 'Edit', edit_beer_path(beer) %><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'New Beer', new_beer_path %>

	<%= render 'category/show' %>

<% else %>

	<p> Welcome to Bier </p>

<% end %>
