<div class="row">
  <!-- For Colour -->
  <div class="col-md-4">
  <h1>Colours</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Colour</th>
          <th>Hexcode</th>
          <th>Action</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @colours.each do |colour| %>
          <tr>
            <td><%= colour.colour %></td>
            <td><%= colour.hexcode %></td>
            <td><%= link_to 'Show', colour %><%= link_to 'Edit', edit_colour_path(colour) %><%= link_to 'Destroy', colour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Colour', new_colour_path %>
  </div>
  <!-- For Food -->
  <div class="col-md-4">
    <h1>Foods</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Action</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.food %></td>
            <td><%= link_to 'Show', food %><%= link_to 'Edit', edit_food_path(food) %><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'New Food', new_food_path %>
  </div>
  <!-- For Occassion -->
  <div class="col-md-4">
  <h1>Occassions</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Occassion</th>
        <th>Action</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @occassions.each do |occassion| %>
        <tr>
          <td><%= occassion.occassion %></td>
          <td><%= link_to 'Show', occassion %><%= link_to 'Edit', edit_occassion_path(occassion) %><%= link_to 'Destroy', occassion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Occassion', new_occassion_path %>
  </div>
</div>