<%= form_for(beer) do |f| %>
  <% if beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beer.errors.count, "error") %> prohibited this beer from being saved:</h2>

      <ul>
      <% beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :beerType %>
    <%= f.text_field :beerType %>
  </div>

  <div class="field">
    <%= f.label :brewery %>
    <%= f.text_field :brewery %>
  </div>

  <div class="field">
    <%= f.collection_select :colour_id, Colour.all, :id, :colour, {prompt: "Choose a colour "} %>
  </div>

  <div class="field">
    <%= f.collection_select :food_id, Food.all, :id, :food, {prompt: "Choose a type of food"} %>
  </div>

  <div class="field">
    <%= f.collection_select :occassion_id, Occassion.all, :id, :occassion, {prompt: "Choose an occassion"} %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
