<h1>Beer Post</h1>

<%= form_for :beer, url: beers_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %><br>
  </p>

  <p>
    <%= f.label :color %><br>
    <ul id="colors_drink">
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
    </ul>
  </p>

  <p>
    <%= f.label :occassion %><br>
    <ul id="colors_drink">
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
    </ul>
  </p>

  <p>
    <%= f.label :food %><br>
    <ul id="colors_drink">
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
    </ul>
  </p>

  <p>
    <%= f.label :rating %><br>
    <ul id="colors_drink">
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
      <li><div id="circle"></div></li>
    </ul>
  </p>

  <p>
    <%= f.submit %>
  </p>


<% end %>