<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @beer.title %>
</p>

<p>
  <strong>Beertype:</strong>
  <%= @beer.beerType %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @beer.rating %>
</p>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
